.jumbotron{
    background-color:yellow;
    color: black;
    margin-top: 50px;
}
footer{
    
    background-color: yellow;
    padding: 10px 10px 0 10px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.card-hotel{
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
}
.footer-address-icon{
    padding-right: 10px;
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.tab-content{
    padding-top: 50px;
    padding-bottom: 50px ;
}
.imgcaro{
    width: 100px;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}