$blue:#0da328;
@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron{
    background-color: $blue;
    color: black;
    @include margenes(50px,0px );
}
footer{
    
    background-color: $blue;
    padding: 10px 10px 0 10px;
    @include margenes(10px,30px );
}
.card-hotel{
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    @include margenes(10px,0px);
}
.footer-address-icon{
    padding-right: 10px;
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.tab-content{
    padding-top: 50px;
    padding-bottom: 50px ;
}
.imgcaro{
    width: 100px;
    height: 500px;
    @include margenes(10px,10px );
}